doctype html
html
  head
    title
    style(type='text/css').
      .green {
      background-color: green;
      }
      .white {
      color: white;
      }
      li button {
      position: absolute;
      right: 5px;
      }
    link(rel='stylesheet', type='text/css', href='bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='bootstrap-theme.min.css')
  body
    #reactcontainer
    script(type='text/javascript', src='bundle.js')